@page "/exercise"

@inject IExercisePlanService _exerciseService

<a href="/exercise/create" class="btn btn-primary">Create an Exercise</a>

@if (_exercises.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Exercise ID</th>
                <th>Exercise Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in _exercises)
            {
                <tr>
                    <td>@exercise.ExercisePlanId</td>
                    <td>@exercise.Name</td>
                    <td>
                        <a href="/exercise/edit/@exercise.ExercisePlanId" class="btn btn-success">Edit</a>
                        <a href="/exercise/detail/@exercise.ExercisePlanId" class="btn btn-warning">Details</a>
                        <a href="/exercise/delete/@exercise.ExercisePlanId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text text-danger">There are no Exercises to display.</p>
}

@code{
    private List<ExercisePlanListItem> _exercises = new();
    protected override async Task OnInitializedAsync()
    {
        _exercises = await _exerciseService.GetExercisePlans();
    }
}