@page "/"

<PageTitle>SquatPal</PageTitle>

<h1><span class="text-primary">SquatPal</span></h1>
<h2 class="text-warning">The Fitness Trainer App</h2>

<h4>Welcome to the last Fitness app you'll ever need.</h4>

<p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>

<div class="container">
<h3 class="text-warning text-center"> | Real Live Results |</h3>
<br>
    <div class="row">
        <div class="col-md-8">
            <img src="WeightLift.jpg" style='float:left;width:250px;height:400px; margin-right:10px;' alt="Woman Lifting Weights">
            <img src="Trainer.jpg" style='float:right;width:250px;height:400px; margin-right:-250px;' alt="Fitness Instructor Training Clients">
            <p style="padding-right: 5px;">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
            <p style="padding-right: 5px; font-weight:bold;">Are you Ready to change your life?</p>
        </div>
    </div>
</div>
<br>
<hr>
<div class="container">
    <div class="text-center">
        <h3>Testimonials</h3>
        <p>We &#128153; our clients!</p>
        <div class="justify-content-between m-3">
            <img src="Before_After_2.JPG" style="height:10em; padding:5px; width: 10em;" alt="Before and After Weight Loss">
            <img src="Before_After_3.JPG" style="height:10em; padding:5px;" alt="Before and After Weight Loss">
            <img src="Before_After_1.JPG" style="height:10em; padding:5px;" alt="Before and After Weight Loss">
        </div>
    </div>
</div>