@page "/"

<PageTitle>SquatPal</PageTitle>

<h1><span class="text-primary">SquatPal</span></h1>
<h2 class="text-warning">The Fitness Trainer App</h2>

<h4>Welcome to your new app.</h4>

<p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>