@page "/adminUser/logout"
@inject NavigationManager _navManager

<h1 class="text text-primary">Admin Log Out</h1>


@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}
else
{
    <div class="container">
        <EditForm>
        <button type="submit" class="btn btn-primary btn-block mt-5">Click here to Logout</button>
        <a href="/adminUser" class="btn btn-secondary mt-5">Back to Index</a>
        </EditForm>
    </div>
}

@code {
    private string? errorMessage;
}