@* @using SquatPal.Data.Entities *@
@* 
<strong>Exercises:</strong>

@if (Workouts.Count() > 0)
{
    foreach (var workout in Workouts)
    {
        <p class="card-text">@ExerciseToString(@workout.ToString())</p>
    }
}
else
{
    <p class="card-text">Sorry there are no known Workouts for this Client!</p>
}

@code{
    [Parameter]
    public List<ExerciseList> Workouts { get; set; }
    private string ExerciseToString(string workout)
    {
        return workout.Replace('_',' ');
    }
} *@